[Unit]
Description=Supermicro Fan Control Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/sm_fancontrol.py
Restart=always

[Install]
WantedBy=multi-user.target
